<div class="container body">
    <div class="row">
        <div class="col-sm-10" style="color: white">FEEDS </div>
        <div class="col-sm-2 icon-custom" style="float: right">
            <mat-icon>add_circle_ou</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" name="search" (keyup)="getFilteredEmployees(searchterm)" placeholder="Search"
                [(ngModel)]="searchTerm">
        </div>
        <div class="col-sm-2 icon-custom" style="float: right" (click)="filter('true')">
            <mat-icon>filter_list</mat-icon>
        </div>
    </div>
    <div *ngIf="display" style="background-color: white">
        <div class="row">
            <div class="my-font-color1 col-sm-2" style="float: left">
                <mat-icon>filter_list</mat-icon>
            </div>
            <div style="width: 50px;" class="my-font-color col-sm-8">
                <button class="btn btn-primary"> Apply</button>
            </div>
            <div (click)="filter(false)" class="col-sm-2" style="float:right;color: red">
                <mat-icon>clear</mat-icon>
            </div>
        </div>
        <hr>
        <div>
            <span style="font-weight: bold">By Tag </span>
            <span style="float: right">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div (click)="showFilterbyStatus(true)" class="filter-status">
            <span>By Status</span>
            <span style="float: right">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <hr>
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search" name="search">
        </mat-form-field>
        <div class="row" *ngIf="displayFilterStatus">
            <mat-radio-group formControlName="options">
                <mat-radio-button value="1">Deployed</mat-radio-button>
                <mat-radio-button value="2">Undeployed</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div *ngIf="!display">
        <ul *ngFor="let emp of filteredEmployees">
            <li class="hero">
                <div class="inner">

                    <mat-card-content>

                        <p style="font-size: 12px;">Name</p>
                        <span>{{emp.name}}</span>

                        <span class="card-icons" style="margin-left:50px;margin-top:10px;">
                            <mat-icon>note</mat-icon>
                            <mat-icon>delete</mat-icon>
                            <mat-icon>track_changes</mat-icon>
                        </span>
                    </mat-card-content>
                </div>
            </li>
        </ul>
    </div>
</div>

<nav>
    <a routerLink="debouncing-req" routerLinkActive="active">Debounce Request </a>
    <a routerLink="async-pipe" routerLinkActive="active">Async Pipe </a>
    <a routerLink="tablecolumns" routerLinkActive="active">get Table Columns</a>
</nav>
<router-outlet></router-outlet>